#HedingCon {
    text-align: center;
    font-size: 40px;
}

#tableCon1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding: 10px;
    width: 1050px;
}

#tableCon2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding: 10px;
    width: 550px;
}